p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

.grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    column-gap: 20px;
    align-items: center;
}

.profile {
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    width: 200px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 12px;
}

.name {
    margin-left: 8px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}

.mutual-friends-row {
    display: grid;
    grid-template-columns: 35px 1fr;
    column-gap: 8px;
    align-items: center;
    margin-left: 8px;
    margin-bottom: 12px;
}

.mutual {
    color: rgb(100, 100, 100);
    font-size: 16px;
}

.add-button {
    margin-left: 4px;
    background-color: rgb(73, 131, 238);
    border-radius: 3px;
    width: 110px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 8px;
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.mutual-photo {
    width: 35px;
    border-radius: 50px;
    vertical-align: middle;
}