.header {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(183, 55, 238);
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.home {
    margin-left: 10px;
    color: white;
}

.search-bar {
    width: 400px;
    height: 26px;
    border: none;
    border-radius: 30px;
    padding-left: 12px;
    vertical-align: middle;
}

.search-bar:focus {
    outline: none;
}

.download-button {
    margin-right: 10px;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: solid;
    border-color: white;
    border-radius: 2px;
    border-width: 1px;
    background-color: rgb(183, 55, 238);
    color: white;
    cursor: pointer;
}