body {
    height: 3000px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
}

.profile {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
}

.profile-pic {
    height: 50px;
    border-radius: 25px;
}

.username {
    font-weight: bold;
    margin: 10px;
}

.actions {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

.add-friend-button {
    background-color: rgb(37, 134, 213);
    border: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 2px;
    margin-right: 10px;
    font-weight: bold;
}

.message-button {
    background-color: rgb(235, 235, 235);
    border: none;
    color: black;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 2px;
}