p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 100, 100);
    margin-top: 0;
    margin-bottom: 0;
}

.email {
    font-size: 12px;
}

.email-bar {
    border-radius: 3px;
    border-color: rgb(100, 100, 100);
    border-width: 2px;
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 300px;
}

.email-bar:focus {
    outline: none;
}

.disclaimer {
    font-size: 12px;
    margin-bottom: 15px;
}

.pp {
    text-decoration: underline;
    cursor: pointer;
}

.join-button {
    border: none;
    border-radius: 50px;
    color: white;
    background-color: rgb(10, 102, 194);
    text-align: center;
    width: 300px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}