.youtube {
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
    vertical-align: top;
  }

  .youtube:hover {
    opacity: 0.8;
  }

  .youtube:active {
    opacity: 0.5;
  }

   .fb {
    background-color: white;
    border-color: rgb(6, 95, 212);
    border-style: solid;
    border-width: 1px;
    color: rgb(6, 95, 212);
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.15s, 
    color 0.15s;
    vertical-align: top;
  }

  .fb:hover {
    background-color: rgb(6, 95, 212);
    color: white;
  }

  .fb:active {
    opacity: 0.7
  }

  .twitter {
    background-color: rgb(29, 155, 240);
    color: white;
    font-weight: 2px;
    font-size: 13px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: box-shadow 0.15s;
    vertical-align: top;
  }

  .twitter:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4)
  }